# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
census/
venv/
.venv/
env/

# macOS
.DS_Store

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Python packaging
build/
dist/
*.egg-info/

# Environment files
.env

# Generated outputs
outputs/models/
outputs/plots/

# Dataset files
data/